/**** folder menulist ****/
.folder-icon > .menulist-label-box > .menulist-icon {
  width: 16px;
  height: 16px;
}

.folder-icon > .menu-iconic-left {
  display: -moz-box;
}

.folder-icon {
  list-style-image: url("chrome://global/skin/icons/folder.png") !important;
}


/**** expanders ****/

.expander-up,
.expander-down {
  min-width: 0;
  margin: 0;
  -moz-margin-end: 4px;
}

.expander-up > .button-box,
.expander-down > .button-box {
  padding: 0;
}

.expander-up {
  list-style-image: url("chrome://global/skin/icons/collapse.png");
}

.expander-down {
  list-style-image: url("chrome://global/skin/icons/expand.png");
}

#editBookmarkPanelContent {
  min-width: 23em;
}

#editBMPanel_folderTree {
  margin-top: 2px;
  margin-bottom: 2px;
}

/**** name picker ****/

/* Make the microsummary picker look like a regular textbox instead of
 * an editable menulist when no microsummaries are available.
 */
#editBMPanel_namePicker[droppable="false"] {
  /* These rules come from the textbox element in textbox.css. */
  -moz-appearance: textfield; /* Normal editable menulists set this to "menulist". */
  cursor: text;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  padding: 2px 2px 3px;
  -moz-padding-start: 4px;
  background-color: -moz-Field;
  color: -moz-FieldText;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-editable-box {
  padding: 0;
}

#editBMPanel_namePicker[droppable="false"] > .menulist-dropmarker,
#editBMPanel_namePicker[droppable="false"] > menupopup {
  display: none;
}

/* Hide the value column of the tag autocomplete popup
 * leaving only the comment column visible. This is
 * so that only the tag being edited is shown in the
 * popup.
 */
#editBMPanel_tagsField #treecolAutoCompleteValue {
  visibility: collapse;
}


/* ::::: bookmark panel dropdown icons ::::: */

#editBMPanel_folderMenuList[selectedIndex="0"],
#editBMPanel_toolbarFolderItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
  -moz-image-region: auto !important;
}

#editBMPanel_folderMenuList[selectedIndex="1"],
#editBMPanel_bmRootItem {
  list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png") !important;
  -moz-image-region: auto !important;
}

#editBMPanel_folderMenuList[selectedIndex="2"],
#editBMPanel_unfiledRootItem {
  list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png") !important;
  -moz-image-region: auto !important;
}
