/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== filepicker.css =================================================
  == Styles used by the File Picker dialog.
  ======================================================================= */

@import url("chrome://global/skin/");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: column widths ::::: */

#FilenameColumn,
#ContentLengthColumn,
#LastModifiedDateColumn {
  width: 100px;
}

/* ::::: file/directory items ::::: */

treechildren::-moz-tree-image(FilenameColumn, directory) {
  list-style-image: url("chrome://global/skin/icons/folder.png");
}

treechildren::-moz-tree-image(FilenameColumn, file) {
  list-style-image: url("chrome://global/skin/icons/item.png");
}

/* ::::: button items ::::: */

/* up-button */

.up-button {
  list-style-image: url("chrome://global/skin/Filepicker.png");
  -moz-image-region: rect(0px 24px 24px 0px);
  max-width: 36px;
}

.up-button:hover {
  list-style-image: url("chrome://global/skin/Filepicker.png");
  -moz-image-region: rect(24px 24px 48px 0px);
  max-width: 36px;
}

/* home-button */

.home-button {
  list-style-image: url("chrome://global/skin/Filepicker.png");
  -moz-image-region: rect(0px 48px 24px 24px);
  max-width: 36px;
}

.home-button:hover {
  list-style-image: url("chrome://global/skin/Filepicker.png");
  -moz-image-region: rect(24px 48px 48px 24px);
  max-width: 36px;
}

/* new-dir-button */

.new-dir-button {
  list-style-image: url("chrome://global/skin/Filepicker.png");
  -moz-image-region: rect(0px 72px 24px 48px);
  max-width: 36px;
}

.new-dir-button:hover {
  list-style-image: url("chrome://global/skin/Filepicker.png");
  -moz-image-region: rect(24px 72px 48px 48px);
  max-width: 36px;
}