/* File Field Widget */
filefield {
  margin: 2px 4px;
  -moz-appearance: textfield;
}

.fileFieldContentBox {
  background-color: -moz-Dialog;
}

.fileFieldIcon[disabled="true"] {
  opacity: 0.4;
}

.fileFieldIcon {
  width: 16px;
  height: 16px;
  margin-top: 1px;
  margin-bottom: 1px;
  -moz-margin-start: 1px;
  -moz-margin-end: 4px;
}

.fileFieldLabel {
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  margin: 0px;
}
