/* ===== global.css =====================================================
  == Styles that apply everywhere.
  ======================================================================= */

/* all localizable skin settings shall live here */
@import url("chrome://global/locale/intl.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: XBL bindings ::::: */

radio {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#radio");
}

menulist > menupopup,
.menulist-menupopup {
  -moz-binding: url("chrome://global/content/bindings/popup.xml#popup-scrollbars");
}

.menulist-compact {
  -moz-binding: url("chrome://global/skin/globalBindings.xml#menulist-compact");
}

progressmeter[mode="undetermined"] {
  -moz-binding: url("chrome://global/content/bindings/progressmeter.xml#progressmeter-undetermined");
}

/* ::::: root elements ::::: */

window,
page,
dialog,
wizard,
prefwindow {
  -moz-appearance: window;
  background-color: -moz-Dialog;
  color: -moz-DialogText;
  font: message-box;
}

/* deprecated */
window.dialog {
  padding-top: 8px;
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 10px;
}

/* ::::: alert icons :::::*/

.message-icon,
.alert-icon,
.error-icon,
.question-icon {
  width: 32px;
  height: 32px;
}

.message-icon {
  list-style-image: url("chrome://global/skin/icons/information-32.png");
}

.alert-icon {
  list-style-image: url("chrome://global/skin/icons/Warning.png");
}

.error-icon {
  list-style-image: url("chrome://global/skin/icons/Error.png");
}

.question-icon {
  list-style-image: url("chrome://global/skin/icons/Question.png");
}

/* ::::: iframe ::::: */

iframe {
  border: none;
  width: 100px;
  height: 100px;
  min-width: 10px;
  min-height: 10px;
}

/* ::::: statusbar ::::: */

statusbar {
  -moz-appearance: statusbar;
  border-top: 1px solid ThreeDLightShadow;
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDHighlight;
  background-color: -moz-Dialog;
  min-height: 22px;
}

statusbarpanel {
  -moz-appearance: statusbarpanel;
  -moz-box-align: center;
  -moz-box-pack: center;
  border-left: 1px solid ThreeDHighlight;
  border-top: 1px solid ThreeDHighlight;
  border-right: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
  padding: 0 4px;
}

.statusbar-resizerpanel {
  -moz-box-align: end;
  -moz-box-pack: end;
  -moz-appearance: resizerpanel;
  padding: 0;
  border: none;
}

.statusbarpanel-iconic,
.statusbarpanel-iconic-text,
.statusbarpanel-menu-iconic {
  padding: 0 1px;
}

window:not([active="true"]) menubar > menu {
  color: ThreeDShadow;
}

sidebarheader {
  height: 25px;
  background-color: -moz-Dialog;
  border-top: 1px solid ThreeDHighlight;
}

.toolbar-focustarget {
  -moz-user-focus: ignore !important;
}

toolbar[mode="text"] .toolbarbutton-text {
  padding: 0 !important;
  margin: 3px 5px !important;
}

/* ::::: miscellaneous formatting ::::: */

:root:-moz-lwtheme,
[lwthemefooter="true"] {
  -moz-appearance: none;
}

:root:-moz-lwtheme-darktext {
  text-shadow: 1px 1px 2px white;
}

:root:-moz-lwtheme-brighttext {
  text-shadow: 1px 1px 2px black;
}

statusbar:-moz-lwtheme,
sidebarheader:-moz-lwtheme {
  -moz-appearance: none;
  background: none;
  border-style: none;
}

.inset {
  border: 1px solid ThreeDShadow;
  border-right-color: ThreeDHighlight;
  border-bottom-color: ThreeDHighlight;
  margin: 0 5px 5px;
}

.outset {
  border: 1px solid ThreeDShadow;
  border-left-color: ThreeDHighlight;
  border-top-color: ThreeDHighlight;
}

/* separators */
separator:not([orient="vertical"]) {
  height: 1.5em;
}
separator[orient="vertical"] {
  width: 1.5em;
}

separator.thin:not([orient="vertical"]) {
  height: 0.5em;
}
separator.thin[orient="vertical"] {
  width: 0.5em;
}

separator.groove:not([orient="vertical"]) {
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDHighlight;
  height: 0;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
separator.groove[orient="vertical"] {
  border-left: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  width: 0;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.small-margin {
  margin: 1px 2px;
}

.plain {
  -moz-appearance: none;
  margin: 0 !important;
  border: none;
  padding: 0;
}

description,
label {
  cursor: default;
  margin-top: 1px;
  margin-bottom: 2px;
  -moz-margin-start: 6px;
  -moz-margin-end: 5px;
}

description {
  margin-bottom: 4px;
}

label[disabled="true"] {
  color: GrayText;
}

label[disabled="true"]:-moz-system-metric(windows-classic) {
  color: ThreeDShadow;
  text-shadow: 1px 1px ThreeDHighlight;
}

.tooltip-label {
  margin: 0;
}

.header {
  font-weight: bold;
}

.monospace {
  font-family: monospace;
}

.indent {
  -moz-margin-start: 23px;
}

.box-padded {
  padding: 5px;
}

.spaced {
  margin: 3px 5px 4px;
}

.wizard-box {
  padding: 20px 44px 10px;
}

.text-link {
  color: -moz-nativehyperlinktext;
  text-decoration: underline;
  border: 1px solid transparent;
  cursor: pointer;
}

.text-link:focus {
  border: 1px dotted -moz-DialogText;
}

/* :::::: autoscroll popup ::::: */

.autoscroller {
  height: 28px;
  width: 28px;
  border: none;
  margin: -14px;
  padding: 0;
  background-image: url("chrome://global/skin/icons/autoscroll.png");
  background-color: transparent;
  background-position: right top;
  -moz-appearance: none;
}

.autoscroller[scrolldir="NS"] {
  background-position: right center;
}

.autoscroller[scrolldir="EW"] {
  background-position: right bottom;
}

/* :::::: view select ::::: */

.paneSelector, #topBar {
  background-color: rgb(90, 116, 164);
  color: white;
  background-image: url("chrome://global/skin/view.png");
  background-position: center bottom;
  background-repeat: repeat-x;
  border-bottom: 2px groove ThreeDFace;
  margin: 0;
  padding: 0;
}

#viewGroup > radio,
radio[pane] {
  -moz-appearance: none;
  background-color: transparent;
  background-position: center bottom;
  background-repeat: repeat-x;
  margin: 0 1px;
  padding: 4px 0 2px;
  min-width: 5.5em;
}

#viewGroup > radio:hover,
radio[pane]:hover {
  background-color: rgb(94, 138, 188);
  background-image: url("chrome://global/skin/view-hover.png");
  color: white;
}

#viewGroup > radio[selected="true"],
radio[pane][selected="true"] {
  background-color: rgb(174, 198, 226);
  background-image: url("chrome://global/skin/view-selected.png");
  color: black;
}

.paneButtonIcon, .viewButtonIcon {
  width: 32px;
  height: 32px;
}
